/*GENERAL*/
.pd-0{
	padding: 0;
}
.pd-2{
    padding: 2%;
}
.pt-2{
	padding-top: 2%;
}
.pd-3{
	padding: 3%;
}
.pt-3{
	padding-top: 3%;
}
.pr-3{
	padding-right: 3%;
}
.pb-3{
	padding-bottom: 3%;
}
.pl-3{
	padding-left: 3%;
}
.pd-5 {
	padding: 5%;
}
.pd-10 {
	padding: 10%;
}
.pd-15{
    padding: 15%;
}
.pd-20{
    padding: 20%;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.pl-5{
	padding-left: 5%;
}
.pr-5{
	padding-right: 5%;
}
.pt-8{
    padding-top: 8%;
}
.pr-8{
    padding-right: 8%;
}
.pb-8{
    padding-bottom: 8%;
}
.pl-8{
    padding-left: 8%;
}
.pt-10{
    padding-top: 10%;
}
.pr-10{
    padding-right: 10%;
}
.pb-10{
    padding-bottom: 10%;
}
.pl-10{
    padding-left: 10%;
}
.pl-13{
    padding-left: 13%;
}
.pt-13{
    padding-top: 13%;
}
.pr-13{
    padding-right: 13%;
}
.pb-13{
    padding-bottom: 13%;
}
.pb-30{
    padding-bottom: 30%;
}
.mg-0{
	margin: 0%;
}
.mb-1{
	margin-bottom: 1%;
}
.mg-3{
	margin:3%;
}
.mt-3{
	margin-top: 3%;
}
.mr-3{
	margin-right: 3%;
}
.mb-3{
	margin-bottom: 3%;
}
.ml-3{
	margin-left: 3%;
}
.mg-5{
	margin: 5%;
}
.mt-5{
	margin-top: 5%;
}
.mb-5{
	margin-bottom: 5%;
}
.mr-5{
	margin-right: 5%;
}
.ml-5{
	margin-left: 5%;
}

.mg-6{
	margin: 6%;
}
.mt-6{
	margin-top: 6%;
}
.mb-6{
	margin-bottom: 6%;
}
.mr-6{
	margin-right: 6%;
}
.ml-6{
	margin-left: 6%;
}
.w100{
	width: 100%;
}
.aut{
    width: auto;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}